    {{#each discos}}
        <div class="card col-4" style="width: 18rem; margin-left:10px; margin-top: 10px">
          <img src="{{this.tapa}}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{this.artista}}</h5>
            <h6 class="card-title">{{this.titulo}}</h6>
            <p class="card-text">Lanzamiento: {{this.lanzamiento}}</p>
          </div>
        </div>
      {{/each}}